.alpha-container {
    display: flex;
    flex-direction: row;
    background-color:aqua;
    justify-content:space-around;
}
.alpha {
    border: 1px solid blueviolet;
    padding: 10px;
    margin: 30px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    transition: all 1s ease;
}
.alpha img{
    width: 100px
}
body{
    background: url(img/Camille.jpeg)
    width: 200px;
}
.alpha:hover {
    transform: scale(1.5)
}